# pandas Data Structures:
We have learned about **Series**, lets learn DataFrames (2<sup>nd</sup> workhorse of pandas) to expand our concepts of Series.

* DataFrame
* Grab data (column wise)
* Grab data (raw wise)
* Grabbing an element or a sub-set of the dataframe
* Adding new column
* Deleting the column
* boolean_mask
* boolean_mask(Combine 2 conditions)
* reset_index(), set_index(), head(), tail(), info(), describe()

## DataFrame
* A very simple way to think about the DataFrame is, "bunch of Series together such as they share the same index". <br> 
* A DataFrams is a rectangular table of data that contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc). DataFrame has both a row and column index; it can be thought of as a dictionary of Series all sharing the same index. <br>

&#9758; *A good read for those, who are interested! ([Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do))<br>*

Let's learn **DataFrame with examples:**<br>

In [1]:
import pandas as pd
import numpy as np

In [2]:
array_2d = np.arange(0, 100).reshape(10,10)

In [3]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

Let's create two labels/indexes:
* for rows 'r1 to r10'
* for columns 'c1 to c10'

Let's start with a simple example, using **`arange()`** and **`reshape()`** together to create a 2D array (matrix).<br>

In [4]:
ind = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()  #['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']
col = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()

&#9989; *Use **TAB** for auto-complete and **shift + TAB**  for doc.*

In [5]:
# How the index, columns and array_2d look like!
ind

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']

In [6]:
col

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [7]:
df = pd.DataFrame(data = array_2d, index=ind, columns=col)

In [9]:
df # select c1, c2 from df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

**df** is our first dataframe. <br>
We have columns, c1 to c10, and their corresponding rows, r1 to r10. <br>
Each column is actually a pandas series, sharing a common index (row labels). <br>

&#9758; Let's learn how to **Grab data** that we need, this is the most important thing we want to learn to move one!<br>

### Columns

In [9]:
df[['c1','c2']]

     c1  c2
r1    0   1
r2   10  11
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [10]:
df[['c5', 'c2', 'c1']] #select c1, c2 from df

     c5  c2  c1
r1    4   1   0
r2   14  11  10
r3   24  21  20
r4   34  31  30
r5   44  41  40
r6   54  51  50
r7   64  61  60
r8   74  71  70
r9   84  81  80
r10  94  91  90

In [11]:
type(df['c10'])

pandas.core.series.Series

In [12]:
# Grabbing more than one column, pass the list of columns you need! 
df[['c1', 'c10', 'c3']] #select c1, c10, c3 from df

     c1  c10  c3
r1    0    9   2
r2   10   19  12
r3   20   29  22
r4   30   39  32
r5   40   49  42
r6   50   59  52
r7   60   69  62
r8   70   79  72
r9   80   89  82
r10  90   99  92

**df.column_name (e.g. df.c1, df.c2 etc)** can be used to grab a column as well, its good to know but I don't recommend. <br> 
If you press "TAB" after df., you will see lots of available methods, its good not to get confused with these option by using df.column_name.<br>
**Let's try this once**

In [13]:
df.c5
#df['c5']

r1      4
r2     14
r3     24
r4     34
r5     44
r6     54
r7     64
r8     74
r9     84
r10    94
Name: c5, dtype: int32

### Adding new column
Lets try with "+" operation!

In [14]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [15]:
df['new']= df['c1'] + df['c2']  # select *, (c1 + c2) as new from df

In [16]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  new
r1    0   1   2   3   4   5   6   7   8    9    1
r2   10  11  12  13  14  15  16  17  18   19   21
r3   20  21  22  23  24  25  26  27  28   29   41
r4   30  31  32  33  34  35  36  37  38   39   61
r5   40  41  42  43  44  45  46  47  48   49   81
r6   50  51  52  53  54  55  56  57  58   59  101
r7   60  61  62  63  64  65  66  67  68   69  121
r8   70  71  72  73  74  75  76  77  78   79  141
r9   80  81  82  83  84  85  86  87  88   89  161
r10  90  91  92  93  94  95  96  97  98   99  181

In [17]:
df['new'] = 'A'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [18]:
df['new2'] = 'B'

In [19]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [20]:
new_col = 'D'

df.insert(loc = 4, column = 'C33', value = new_col)

df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

### Deleting the column -- `drop()`

        *df.drop('new')-- ValueError: labels ['new'] not contained in axis

Shift+tab, you see the default axis is 0, which refers to the index (row labels), for column, we need to specify axis = 1.<br>
&#9758; rows refer to 0 axis and columns refers to 1 axis<br> 
&#9758; Quick Check: *df.shape gives tuple (rows, cols) at [0] and [1]*

In [21]:
df.drop('r1', axis=0)

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [22]:
df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [23]:
df.drop('C33', axis=1)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [24]:
df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [25]:
df.drop('C33', axis=1, inplace=True)

&#9758; Is the "new" really deleted? <br>
Output df and you will see "new" is still there!<br>

In [26]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [28]:
df.loc['R11'] = [90,91,92,93,94,95,96,97,98,99,0,1]

In [29]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B
R11  90  91  92  93  94  95  96  97  98   99   0    1

In [30]:
df.drop('R11', axis=0, inplace=True)

In [31]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

To delete the column, you have to tell the pandas by setting<br>
* ***inplace = True*** (default is inplace=False).<br>

&#9989; *pandas is generous, it does not want us to lose the information by any mistake and needs inplace*

### Rows
We can retrieve a row by its name or position with **[`loc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)** and **[`iloc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)**.<br>
**loc** -- Access a group of rows and columns by label(s)

In [32]:
df.loc[['r2','r3', 'r5']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r2  10  11  12  13  14  15  16  17  18   19   A    B
r3  20  21  22  23  24  25  26  27  28   29   A    B
r5  40  41  42  43  44  45  46  47  48   49   A    B

Using row's index location with **iloc**, even if our index is labeled.

In [33]:
df.loc[['r2']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r2  10  11  12  13  14  15  16  17  18   19   A    B

In [ ]:
df.iloc[[1]] # iloc[index], index based location

In [36]:
# more than one rows -- pass a list of rows!
df.loc[['r1','r2', 'r3']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1   0   1   2   3   4   5   6   7   8    9   A    B
r2  10  11  12  13  14  15  16  17  18   19   A    B
r3  20  21  22  23  24  25  26  27  28   29   A    B

### Grabbing an element or a sub-set of the dataframe

In [37]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [35]:
df.iloc[0:3, 0:7]

    c1  c2  c3  c4  c5  c6  c7
r1   0   1   2   3   4   5   6
r2  10  11  12  13  14  15  16
r3  20  21  22  23  24  25  26

In [38]:
df.loc['r1','c1']

0

In [39]:
df.loc[['r1','r2'],['c1','c2']]

    c1  c2
r1   0   1
r2  10  11

In [40]:
# another example - random columns and rows in the list 
df.loc[['r2','r5'],['c3','c4']]

    c3  c4
r2  12  13
r5  42  43

In [41]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [45]:
df.drop('new',axis=1,inplace=True)

In [46]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new2
r1    0   1   2   3   4   5   6   7   8    9    B
r2   10  11  12  13  14  15  16  17  18   19    B
r3   20  21  22  23  24  25  26  27  28   29    B
r4   30  31  32  33  34  35  36  37  38   39    B
r5   40  41  42  43  44  45  46  47  48   49    B
r6   50  51  52  53  54  55  56  57  58   59    B
r7   60  61  62  63  64  65  66  67  68   69    B
r8   70  71  72  73  74  75  76  77  78   79    B
r9   80  81  82  83  84  85  86  87  88   89    B
r10  90  91  92  93  94  95  96  97  98   99    B

In [49]:
df.drop('new2',axis=1,inplace=True)

In [50]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [51]:
# We can do a conditional selection as well
df > 5

        c1     c2     c3     c4     c5     c6    c7    c8    c9   c10
r1   False  False  False  False  False  False  True  True  True  True
r2    True   True   True   True   True   True  True  True  True  True
r3    True   True   True   True   True   True  True  True  True  True
r4    True   True   True   True   True   True  True  True  True  True
r5    True   True   True   True   True   True  True  True  True  True
r6    True   True   True   True   True   True  True  True  True  True
r7    True   True   True   True   True   True  True  True  True  True
r8    True   True   True   True   True   True  True  True  True  True
r9    True   True   True   True   True   True  True  True  True  True
r10   True   True   True   True   True   True  True  True  True  True

In [52]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [53]:
bool_mask = df % 3 == 0
bool_mask
df[bool_mask]

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   NaN   NaN   3.0   NaN   NaN   6.0   NaN   NaN   9.0
r2    NaN   NaN  12.0   NaN   NaN  15.0   NaN   NaN  18.0   NaN
r3    NaN  21.0   NaN   NaN  24.0   NaN   NaN  27.0   NaN   NaN
r4   30.0   NaN   NaN  33.0   NaN   NaN  36.0   NaN   NaN  39.0
r5    NaN   NaN  42.0   NaN   NaN  45.0   NaN   NaN  48.0   NaN
r6    NaN  51.0   NaN   NaN  54.0   NaN   NaN  57.0   NaN   NaN
r7   60.0   NaN   NaN  63.0   NaN   NaN  66.0   NaN   NaN  69.0
r8    NaN   NaN  72.0   NaN   NaN  75.0   NaN   NaN  78.0   NaN
r9    NaN  81.0   NaN   NaN  84.0   NaN   NaN  87.0   NaN   NaN
r10  90.0   NaN   NaN  93.0   NaN   NaN  96.0   NaN   NaN  99.0

&#9758; Its not common to use such operation on entire dataframe. We usually use them on a columns or rows instead.<br>
**For example, we don't want a row with NaN values.**<br>
What to do?<br>
Let's have a look at one example.

In [10]:
df  # Select * from df where c1 > 11

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

Let's apply a condition on column c1, say `c1 > 11`<br>
based on the conditional selection, the out put will be:

In [11]:
df[df['c1']>11]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [12]:
#select c1, c2 from df where c1 > 11
df[df['c1'] > 11][['c1', 'c2']]

     c1  c2
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

We don't want `r1` and `r2` as they return NaN or null values. <br>
Let's filter the rows based on condition on column values.

In [ ]:
df[df['c1']>11][['c3','c10']]

&#9758; The above, **"`df[df['c1']>11]`"** is a dataframe with applied condition, we can select any col from this dataframe.<br> For example:

In [ ]:
df

In [ ]:
result = df[(df['c1']>11) & (df['c1']<80)]
result

We can do the above operations, (filtering and selecting a columns) in a single line (stack commonds).

In [13]:
df[df['c1']>11] #Select c1, c9 from df where c1 > 11

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [14]:
df[df['c1']>11].loc[['r3','r4']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3  20  21  22  23  24  25  26  27  28   29
r4  30  31  32  33  34  35  36  37  38   39

In [15]:
result = df[df['c1']==70] # select * from df where c1 = 70
result

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r8  70  71  72  73  74  75  76  77  78   79

### Combine 2 conditions 
Let's try on c1 for a value > 60 and on c2 for a value > 80

In [ ]:
df

In [ ]:
df[(df['c1']>60) & (df['c2']>80)]

In [ ]:
df[(df['c1']>60) | (df['c2']>80)]

&#9989;**NOTE:**<br>
"and" operator will not work in the above condition and using "and" will return <br>

        *ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

This "ambiguous" means, True, only work for a single booleans at a time "True and False". We need to use "&" instead. ("|" for or)<br>
Try the above code using "and" <br>
The "and" operator gets confused with series of True/False and raise Error

### Let's have a quick look on couple of useful methods.
***We will explore more later on in the course!***

**`reset_index()`** and **`set_index()`**<br>
We can reset the index of our dataframe to numerical index (which is default index), `inplace = True` to make the permanent change. *The existing index will be a new column.*

In [16]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [17]:
df.reset_index(inplace = True)

In [18]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [ ]:
df.set_index('c2', inplace = True)
df

** consider, We have a column in our data that could be a useful index,<br>
we want to set that column as an index!**<br>

In [ ]:
array_2d

In [ ]:
col

In [ ]:
df = pd.DataFrame(data = array_2d, index = ind, columns = col)
df

In [ ]:
abc = 'a b c d e f g h i j'.split() # split at white spaces
df['newind']=abc
df

In [ ]:
# setting newind as an index, needs to be inplaced
df.set_index('newind', inplace = True)

In [ ]:
df

### `head()`, `tail()`

In [19]:
# Returns first n rows
df.head() # n = 5 by default

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49

In [20]:
# Returns last n rows
df.tail() # n = 5 by default

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

### `info()`
Provides a concise summary of the DataFrame.

In [21]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   c1      10 non-null     int32
 2   c2      10 non-null     int32
 3   c3      10 non-null     int32
 4   c4      10 non-null     int32
 5   c5      10 non-null     int32
 6   c6      10 non-null     int32
 7   c7      10 non-null     int32
 8   c8      10 non-null     int32
 9   c9      10 non-null     int32
 10  c10     10 non-null     int32
dtypes: int32(10), object(1)
memory usage: 612.0+ bytes

### `describe()`
Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding `NaN` values.

In [ ]:
df

In [23]:
df.describe()

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
std,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504
min,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
25%,22.500000,23.500000,24.500000,25.500000,26.500000,27.500000,28.500000,29.500000,30.500000,31.500000
50%,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
75%,67.500000,68.500000,69.500000,70.500000,71.500000,72.500000,73.500000,74.500000,75.500000,76.500000
max,90.000000,91.000000,92.000000,93.000000,94.000000,95.000000,96.000000,97.000000,98.000000,99.000000

# Excellent! 
I want to congratulate here, you are making a great progress, keep it up!

In [27]:
df2 = pd.read_csv('Breast_Cancer_Diagnostic.csv')

In [28]:
df2

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

## nrows

In [29]:
df2 = pd.read_csv('Breast_Cancer_Diagnostic.csv', nrows=100)
df2

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.990,10.38,122.80,1001.0,0.11840,0.27760,0.300100,0.147100,...,17.33,184.60,2019.0,0.1622,0.66560,0.71190,0.26540,0.4601,0.11890,NaN
1,842517,M,20.570,17.77,132.90,1326.0,0.08474,0.07864,0.086900,0.070170,...,23.41,158.80,1956.0,0.1238,0.18660,0.24160,0.18600,0.2750,0.08902,NaN
2,84300903,M,19.690,21.25,130.00,1203.0,0.10960,0.15990,0.197400,0.127900,...,25.53,152.50,1709.0,0.1444,0.42450,0.45040,0.24300,0.3613,0.08758,NaN
3,84348301,M,11.420,20.38,77.58,386.1,0.14250,0.28390,0.241400,0.105200,...,26.50,98.87,567.7,0.2098,0.86630,0.68690,0.25750,0.6638,0.17300,NaN
4,84358402,M,20.290,14.34,135.10,1297.0,0.10030,0.13280,0.198000,0.104300,...,16.67,152.20,1575.0,0.1374,0.20500,0.40000,0.16250,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,86208,M,20.260,23.03,132.40,1264.0,0.09078,0.13130,0.146500,0.086830,...,31.59,156.10,1750.0,0.1190,0.35390,0.40980,0.15730,0.3689,0.08368,NaN
96,86211,B,12.180,17.84,77.79,451.1,0.10450,0.07057,0.024900,0.029410,...,20.92,82.14,495.2,0.1140,0.09358,0.04980,0.05882,0.2227,0.07376,NaN
97,862261,B,9.787,19.94,62.11,294.5,0.10240,0.05301,0.006829,0.007937,...,26.29,68.81,366.1,0.1316,0.09473,0.02049,0.02381,0.1934,0.08988,NaN
98,862485,B,11.600,12.84,74.34,412.6,0.08983,0.07525,0.041960,0.033500,...,17.16,82.96,512.5,0.1431,0.18510,0.19220,0.08449,0.2772,0.08756,NaN
99,862548,M,14.420,19.77,94.48,642.5,0.09752,0.11410,0.093880,0.058390,...,30.86,109.50,826.4,0.1431,0.30260,0.31940,0.15650,0.2718,0.09353,NaN

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       100 non-null    int64
 1   diagnosis                100 non-null    object
 2   radius_mean              100 non-null    float64
 3   texture_mean             100 non-null    float64
 4   perimeter_mean           100 non-null    float64
 5   area_mean                100 non-null    float64
 6   smoothness_mean          100 non-null    float64
 7   compactness_mean         100 non-null    float64
 8   concavity_mean           100 non-null    float64
 9   concave points_mean      100 non-null    float64
 10  symmetry_mean            100 non-null    float64
 11  fractal_dimension_mean   100 non-null    float64
 12  radius_se                100 non-null    float64
 13  texture_se               100 non-null    float64
 14  perimeter_se             100 non-null    float64
 15  area_se                  100 non-null    float64
 16  smoothness_se            100 non-null    float64
 17  compactness_se           100 non-null    float64
 18  concavity_se             100 non-null    float64
 19  concave points_se        100 non-null    float64
 20  symmetry_se              100 non-null    float64
 21  fractal_dimension_se     100 non-null    float64
 22  radius_worst             100 non-null    float64
 23  texture_worst            100 non-null    float64
 24  perimeter_worst          100 non-null    float64
 25  area_worst               100 non-null    float64
 26  smoothness_worst         100 non-null    float64
 27  compactness_worst        100 non-null    float64
 28  concavity_worst          100 non-null    float64
 29  concave points_worst     100 non-null    float64
 30  symmetry_worst           100 non-null    float64
 31  fractal_dimension_worst  100 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 25.9+ KB

In [31]:
df2.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 33 entries, id to Unnamed: 32
dtypes: float64(31), int64(1), object(1)
memory usage: 25.9+ KB

In [32]:
df2.describe(include = 'all')

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
count,1.000000e+02,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
unique,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.547093e+07,NaN,14.707780,19.692200,96.471200,703.293000,0.102040,0.126576,0.114752,0.063801,...,26.599900,116.610300,1008.860000,0.142288,0.330832,0.356674,0.145522,0.323583,0.092170,NaN
std,3.066549e+07,NaN,3.349245,3.759176,23.187471,320.152301,0.013151,0.061123,0.078862,0.038104,...,5.701383,33.701712,546.008605,0.022940,0.204848,0.237003,0.068264,0.080613,0.023814,NaN
min,8.571500e+04,NaN,8.196000,10.380000,51.710000,201.900000,0.073550,0.037660,0.000692,0.004167,...,12.490000,57.260000,242.200000,0.093870,0.046190,0.001845,0.011110,0.156500,0.055040,NaN
25%,8.542642e+05,NaN,12.457500,16.760000,82.270000,476.800000,0.093402,0.080118,0.041847,0.029170,...,22.440000,91.435000,609.700000,0.127050,0.177125,0.172400,0.079223,0.271600,0.076135,NaN
50%,8.593735e+05,NaN,14.335000,20.190000,94.365000,643.650000,0.101150,0.118150,0.107150,0.065810,...,27.260000,110.450000,830.750000,0.143100,0.279400,0.315600,0.156050,0.304600,0.087570,NaN
75%,8.610460e+06,NaN,17.155000,22.150000,114.400000,916.875000,0.110375,0.156800,0.166350,0.087590,...,30.885000,140.250000,1323.750000,0.157600,0.424800,0.522075,0.190725,0.369350,0.103275,NaN
max,8.613550e+07,NaN,25.220000,27.540000,171.500000,1878.000000,0.142500,0.345400,0.375400,0.184500,...,40.680000,211.700000,2615.000000,0.209800,1.058000,1.252000,0.286700,0.663800,0.207500,NaN

In [33]:
df2

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.990,10.38,122.80,1001.0,0.11840,0.27760,0.300100,0.147100,...,17.33,184.60,2019.0,0.1622,0.66560,0.71190,0.26540,0.4601,0.11890,NaN
1,842517,M,20.570,17.77,132.90,1326.0,0.08474,0.07864,0.086900,0.070170,...,23.41,158.80,1956.0,0.1238,0.18660,0.24160,0.18600,0.2750,0.08902,NaN
2,84300903,M,19.690,21.25,130.00,1203.0,0.10960,0.15990,0.197400,0.127900,...,25.53,152.50,1709.0,0.1444,0.42450,0.45040,0.24300,0.3613,0.08758,NaN
3,84348301,M,11.420,20.38,77.58,386.1,0.14250,0.28390,0.241400,0.105200,...,26.50,98.87,567.7,0.2098,0.86630,0.68690,0.25750,0.6638,0.17300,NaN
4,84358402,M,20.290,14.34,135.10,1297.0,0.10030,0.13280,0.198000,0.104300,...,16.67,152.20,1575.0,0.1374,0.20500,0.40000,0.16250,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,86208,M,20.260,23.03,132.40,1264.0,0.09078,0.13130,0.146500,0.086830,...,31.59,156.10,1750.0,0.1190,0.35390,0.40980,0.15730,0.3689,0.08368,NaN
96,86211,B,12.180,17.84,77.79,451.1,0.10450,0.07057,0.024900,0.029410,...,20.92,82.14,495.2,0.1140,0.09358,0.04980,0.05882,0.2227,0.07376,NaN
97,862261,B,9.787,19.94,62.11,294.5,0.10240,0.05301,0.006829,0.007937,...,26.29,68.81,366.1,0.1316,0.09473,0.02049,0.02381,0.1934,0.08988,NaN
98,862485,B,11.600,12.84,74.34,412.6,0.08983,0.07525,0.041960,0.033500,...,17.16,82.96,512.5,0.1431,0.18510,0.19220,0.08449,0.2772,0.08756,NaN
99,862548,M,14.420,19.77,94.48,642.5,0.09752,0.11410,0.093880,0.058390,...,30.86,109.50,826.4,0.1431,0.30260,0.31940,0.15650,0.2718,0.09353,NaN

In [35]:
pd.set_option('display.max_rows', None)

In [36]:
df2

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.990,10.38,122.80,1001.0,0.11840,0.27760,0.300100,0.147100,...,17.33,184.60,2019.0,0.16220,0.66560,0.711900,0.26540,0.4601,0.11890,NaN
1,842517,M,20.570,17.77,132.90,1326.0,0.08474,0.07864,0.086900,0.070170,...,23.41,158.80,1956.0,0.12380,0.18660,0.241600,0.18600,0.2750,0.08902,NaN
2,84300903,M,19.690,21.25,130.00,1203.0,0.10960,0.15990,0.197400,0.127900,...,25.53,152.50,1709.0,0.14440,0.42450,0.450400,0.24300,0.3613,0.08758,NaN
3,84348301,M,11.420,20.38,77.58,386.1,0.14250,0.28390,0.241400,0.105200,...,26.50,98.87,567.7,0.20980,0.86630,0.686900,0.25750,0.6638,0.17300,NaN
4,84358402,M,20.290,14.34,135.10,1297.0,0.10030,0.13280,0.198000,0.104300,...,16.67,152.20,1575.0,0.13740,0.20500,0.400000,0.16250,0.2364,0.07678,NaN
5,843786,M,12.450,15.70,82.57,477.1,0.12780,0.17000,0.157800,0.080890,...,23.75,103.40,741.6,0.17910,0.52490,0.535500,0.17410,0.3985,0.12440,NaN
6,844359,M,18.250,19.98,119.60,1040.0,0.09463,0.10900,0.112700,0.074000,...,27.66,153.20,1606.0,0.14420,0.25760,0.378400,0.19320,0.3063,0.08368,NaN
7,84458202,M,13.710,20.83,90.20,577.9,0.11890,0.16450,0.093660,0.059850,...,28.14,110.60,897.0,0.16540,0.36820,0.267800,0.15560,0.3196,0.11510,NaN
8,844981,M,13.000,21.82,87.50,519.8,0.12730,0.19320,0.185900,0.093530,...,30.73,106.20,739.3,0.17030,0.54010,0.539000,0.20600,0.4378,0.10720,NaN
9,84501001,M,12.460,24.04,83.97,475.9,0.11860,0.23960,0.227300,0.085430,...,40.68,97.65,711.4,0.18530,1.05800,1.105000,0.22100,0.4366,0.20750,NaN
10,845636,M,16.020,23.24,102.70,797.8,0.08206,0.06669,0.032990,0.033230,...,33.88,123.80,1150.0,0.11810,0.15510,0.145900,0.09975,0.2948,0.08452,NaN
11,84610002,M,15.780,17.89,103.60,781.0,0.09710,0.12920,0.099540,0.066060,...,27.28,136.50,1299.0,0.13960,0.56090,0.396500,0.18100,0.3792,0.10480,NaN
12,846226,M,19.170,24.80,132.40,1123.0,0.09740,0.24580,0.206500,0.111800,...,29.94,151.70,1332.0,0.10370,0.39030,0.363900,0.17670,0.3176,0.10230,NaN
13,846381,M,15.850,23.95,103.70,782.7,0.08401,0.10020,0.099380,0.053640,...,27.66,112.00,876.5,0.11310,0.19240,0.232200,0.11190,0.2809,0.06287,NaN
14,84667401,M,13.730,22.61,93.60,578.3,0.11310,0.22930,0.212800,0.080250,...,32.01,108.80,697.7,0.16510,0.77250,0.694300,0.22080,0.3596,0.14310,NaN
15,84799002,M,14.540,27.54,96.73,658.8,0.11390,0.15950,0.163900,0.073640,...,37.13,124.10,943.2,0.16780,0.65770,0.702600,0.17120,0.4218,0.13410,NaN
16,848406,M,14.680,20.13,94.74,684.5,0.09867,0.07200,0.073950,0.052590,...,30.88,123.40,1138.0,0.14640,0.18710,0.291400,0.16090,0.3029,0.08216,NaN
17,84862001,M,16.130,20.68,108.10,798.8,0.11700,0.20220,0.172200,0.102800,...,31.48,136.80,1315.0,0.17890,0.42330,0.478400,0.20730,0.3706,0.11420,NaN
18,849014,M,19.810,22.15,130.00,1260.0,0.09831,0.10270,0.147900,0.094980,...,30.88,186.80,2398.0,0.15120,0.31500,0.537200,0.23880,0.2768,0.07615,NaN
19,8510426,B,13.540,14.36,87.46,566.3,0.09779,0.08129,0.066640,0.047810,...,19.26,99.70,711.2,0.14400,0.17730,0.239000,0.12880,0.2977,0.07259,NaN
20,8510653,B,13.080,15.71,85.63,520.0,0.10750,0.12700,0.045680,0.031100,...,20.49,96.09,630.5,0.13120,0.27760,0.189000,0.07283,0.3184,0.08183,NaN
21,8510824,B,9.504,12.44,60.34,273.9,0.10240,0.06492,0.029560,0.020760,...,15.66,65.13,314.9,0.13240,0.11480,0.088670,0.06227,0.2450,0.07773,NaN
22,8511133,M,15.340,14.26,102.50,704.4,0.10730,0.21350,0.207700,0.097560,...,19.08,125.10,980.9,0.13900,0.59540,0.630500,0.23930,0.4667,0.09946,NaN
23,851509,M,21.160,23.04,137.20,1404.0,0.09428,0.10220,0.109700,0.086320,...,35.59,188.00,2615.0,0.14010,0.26000,0.315500,0.20090,0.2822,0.07526,NaN
24,852552,M,16.650,21.38,110.00,904.6,0.11210,0.14570,0.152500,0.091700,...,31.56,177.00,2215.0,0.18050,0.35780,0.469500,0.20950,0.3613,0.09564,NaN
25,852631,M,17.140,16.40,116.00,912.7,0.11860,0.22760,0.222900,0.140100,...,21.40,152.40,1461.0,0.15450,0.39490,0.385300,0.25500,0.4066,0.10590,NaN
26,852763,M,14.580,21.53,97.41,644.8,0.10540,0.18680,0.142500,0.087830,...,33.21,122.40,896.9,0.15250,0.66430,0.553900,0.27010,0.4264,0.12750,NaN
27,852781,M,18.610,20.25,122.10,1094.0,0.09440,0.10660,0.149000,0.077310,...,27.26,139.90,1403.0,0.13380,0.21170,0.344600,0.14900,0.2341,0.07421,NaN
28,852973,M,15.300,25.27,102.40,732.4,0.10820,0.16970,0.168300,0.087510,...,36.71,149.30,1269.0,0.16410,0.61100,0.633500,0.20240,0.4027,0.09876,NaN
29,853201,M,17.570,15.05,115.00,955.1,0.09847,0.11570,0.098750,0.079530,...,19.52,134.90,1227.0,0.12550,0.28120,0.248900,0.14560,0.2756,0.07919,NaN
30,853401,M,18.630,25.11,124.80,1088.0,0.10640,0.18870,0.231900,0.124400,...,34.01,160.50,1670.0,0.14910,0.42570,0.613300,0.18480,0.3444,0.09782,NaN
31,853612,M,11.840,18.70,77.93,440.6,0.11090,0.15160,0.121800,0.051820,...,28.12,119.40,888.7,0.16370,0.57750,0.695600,0.15460,0.4761,0.14020,NaN
32,85382601,M,17.020,23.98,112.80,899.3,0.11970,0.14960,0.241700,0.120300,...,32.09,136.10,1344.0,0.16340,0.35590,0.558800,0.18470,0.3530,0.08482,NaN
33,854002,M,19.270,26.47,127.90,1162.0,0.09401,0.17190,0.165700,0.075930,...,30.90,161.40,1813.0,0.15090,0.65900,0.609100,0.17850,0.3672,0.11230,NaN
34,854039,M,16.130,17.88,107.00,807.2,0.10400,0.15590,0.135400,0.077520,...,27.26,132.70,1261.0,0.14460,0.58040,0.527400,0.18640,0.4270,0.12330,NaN
35,854253,M,16.740,21.59,110.10,869.5,0.09610,0.13360,0.134800,0.060180,...,29.02,133.50,1229.0,0.15630,0.38350,0.540900,0.18130,0.4863,0.08633,NaN
36,854268,M,14.250,21.72,93.63,633.0,0.09823,0.10980,0.131900,0.055980,...,30.36,116.20,799.6,0.14460,0.42380,0.518600,0.14470,0.3591,0.10140,NaN
37,854941,B,13.030,18.42,82.61,523.8,0.08983,0.03766,0.025620,0.029230,...,22.81,84.46,545.9,0.09701,0.04619,0.048330,0.05013,0.1987,0.06169,NaN
38,855133,M,14.990,25.20,95.54,698.8,0.09387,0.05131,0.023980,0.028990,...,25.20,95.54,698.8,0.09387,0.05131,0.023980,0.02899,0.1565,0.05504,NaN
39,855138,M,13.480,20.82,88.40,559.2,0.10160,0.12550,0.106300,0.054390,...,26.02,107.30,740.4,0.16100,0.42250,0.503000,0.22580,0.2807,0.10710,NaN
40,855167,M,13.440,21.58,86.18,563.0,0.08162,0.06031,0.031100,0.020310,...,30.25,102.50,787.9,0.10940,0.20430,0.208500,0.11120,0.2994,0.07146,NaN
41,855563,M,10.950,21.35,71.90,371.1,0.12270,0.12180,0.104400,0.056690,...,35.34,87.22,514.0,0.19090,0.26980,0.402300,0.14240,0.2964,0.09606,NaN
42,855625,M,19.070,24.81,128.30,1104.0,0.09081,0.21900,0.210700,0.099610,...,33.17,177.40,1651.0,0.12470,0.74440,0.724200,0.24930,0.4670,0.10380,NaN
43,856106,M,13.280,20.28,87.32,545.2,0.10410,0.14360,0.098470,0.061580,...,28.00,113.10,907.2,0.15300,0.37240,0.366400,0.14920,0.3739,0.10270,NaN
44,85638502,M,13.170,21.81,85.42,531.5,0.09714,0.10470,0.082590,0.052520,...,29.89,105.50,740.7,0.15030,0.39040,0.372800,0.16070,0.3693,0.09618,NaN
45,857010,M,18.650,17.60,123.70,1076.0,0.10990,0.16860,0.197400,0.100900,...,21.32,150.60,1567.0,0.16790,0.50900,0.734500,0.23780,0.3799,0.09185,NaN
46,85713702,B,8.196,16.84,51.71,201.9,0.08600,0.05943,0.015880,0.005917,...,21.96,57.26,242.2,0.12970,0.13570,0.068800,0.02564,0.3105,0.07409,NaN
47,85715,M,13.170,18.66,85.98,534.6,0.11580,0.12310,0.122600,0.073400,...,27.95,102.80,759.4,0.17860,0.41660,0.500600,0.20880,0.3900,0.11790,NaN
48,857155,B,12.050,14.63,78.04,449.3,0.10310,0.09092,0.065920,0.027490,...,20.70,89.88,582.6,0.14940,0.21560,0.305000,0.06548,0.2747,0.08301,NaN
49,857156,B,13.490,22.30,86.91,561.0,0.08752,0.07698,0.047510,0.033840,...,31.82,99.00,698.8,0.11620,0.17110,0.228200,0.12820,0.2871,0.06917,NaN
50,857343,B,11.760,21.60,74.72,427.9,0.08637,0.04966,0.016570,0.011150,...,25.72,82.98,516.5,0.10850,0.08615,0.055230,0.03715,0.2433,0.06563,NaN
51,857373,B,13.640,16.34,87.21,571.8,0.07685,0.06059,0.018570,0.017230,...,23.19,96.08,656.7,0.10890,0.15820,0.105000,0.08586,0.2346,0.08025,NaN
52,857374,B,11.940,18.24,75.71,437.6,0.08261,0.04751,0.019720,0.013490,...,21.33,83.67,527.2,0.11440,0.08906,0.092030,0.06296,0.2785,0.07408,NaN
53,857392,M,18.220,18.70,120.30,1033.0,0.11480,0.14850,0.177200,0.106000,...,24.13,135.10,1321.0,0.12800,0.22970,0.262300,0.13250,0.3021,0.07987,NaN
54,857438,M,15.100,22.02,97.26,712.8,0.09056,0.07081,0.052530,0.033340,...,31.69,117.70,1030.0,0.13890,0.20570,0.271200,0.15300,0.2675,0.07873,NaN
55,85759902,B,11.520,18.75,73.34,409.0,0.09524,0.05473,0.030360,0.022780,...,22.47,81.81,506.2,0.12490,0.08720,0.090760,0.06316,0.3306,0.07036,NaN
56,857637,M,19.210,18.57,125.50,1152.0,0.10530,0.12670,0.132300,0.089940,...,28.14,170.10,2145.0,0.16240,0.35110,0.387900,0.20910,0.3537,0.08294,NaN
57,857793,M,14.710,21.59,95.55,656.9,0.11370,0.13650,0.129300,0.081230,...,30.70,115.70,985.5,0.13680,0.42900,0.358700,0.18340,0.3698,0.10940,NaN
58,857810,B,13.050,19.31,82.61,527.2,0.08060,0.03789,0.000692,0.004167,...,22.25,90.24,624.1,0.10210,0.06191,0.001845,0.01111,0.2439,0.06289,NaN
59,858477,B,8.618,11.79,54.34,224.5,0.09752,0.05272,0.020610,0.007799,...,15.40,59.90,274.9,0.17330,0.12390,0.116800,0.04419,0.3220,0.09026,NaN
60,858970,B,10.170,14.88,64.55,311.9,0.11340,0.08061,0.010840,0.012900,...,17.45,69.86,368.6,0.12750,0.09866,0.021680,0.02579,0.3557,0.08020,NaN
61,858981,B,8.598,20.98,54.66,221.8,0.12430,0.08963,0.030000,0.009259,...,27.04,62.06,273.9,0.16390,0.16980,0.090010,0.02778,0.2972,0.07712,NaN
62,858986,M,14.250,22.15,96.42,645.7,0.10490,0.20080,0.213500,0.086530,...,29.51,119.10,959.5,0.16400,0.62470,0.692200,0.17850,0.2844,0.11320,NaN
63,859196,B,9.173,13.86,59.20,260.9,0.07721,0.08751,0.059880,0.021800,...,19.23,65.59,310.1,0.09836,0.16780,0.139700,0.05087,0.3282,0.08490,NaN
64,85922302,M,12.680,23.84,82.69,499.0,0.11220,0.12620,0.112800,0.068730,...,33.47,111.80,888.3,0.18510,0.40610,0.402400,0.17160,0.3383,0.10310,NaN
65,859283,M,14.780,23.94,97.40,668.3,0.11720,0.14790,0.126700,0.090290,...,33.39,114.60,925.1,0.16480,0.34160,0.302400,0.16140,0.3321,0.08911,NaN
66,859464,B,9.465,21.01,60.11,269.4,0.10440,0.07773,0.021720,0.015040,...,31.56,67.03,330.7,0.15480,0.16640,0.094120,0.06517,0.2878,0.09211,NaN
67,859465,B,11.310,19.04,71.80,394.1,0.08139,0.04701,0.037090,0.022300,...,23.84,78.00,466.7,0.12900,0.09148,0.144400,0.06961,0.2400,0.06641,NaN
68,859471,B,9.029,17.33,58.79,250.5,0.10660,0.14130,0.313000,0.043750,...,22.65,65.50,324.7,0.14820,0.43650,1.252000,0.17500,0.4228,0.11750,NaN
69,859487,B,12.780,16.49,81.37,502.5,0.09831,0.05234,0.036530,0.028640,...,19.76,85.67,554.9,0.12960,0.07061,0.103900,0.05882,0.2383,0.06410,NaN
70,859575,M,18.940,21.31,123.60,1130.0,0.09009,0.10290,0.108000,0.079510,...,26.58,165.90,1866.0,0.11930,0.23360,0.268700,0.17890,0.2551,0.06589,NaN
71,859711,B,8.888,14.64,58.79,244.0,0.09783,0.15310,0.086060,0.028720,...,15.67,62.56,284.4,0.12070,0.24360,0.143400,0.04786,0.2254,0.10840,NaN
72,859717,M,17.200,24.52,114.20,929.4,0.10710,0.18300,0.169200,0.079440,...,33.82,151.60,1681.0,0.15850,0.73940,0.656600,0.18990,0.3313,0.13390,NaN
73,859983,M,13.800,15.79,90.43,584.1,0.10070,0.12800,0.077890,0.050690,...,20.86,110.30,812.4,0.14110,0.35420,0.277900,0.13830,0.2589,0.10300,NaN
74,8610175,B,12.310,16.52,79.19,470.9,0.09172,0.06829,0.033720,0.022720,...,23.21,89.71,611.1,0.11760,0.18430,0.170300,0.08660,0.2618,0.07609,NaN
75,8610404,M,16.070,19.65,104.10,817.7,0.09168,0.08424,0.097690,0.066380,...,24.56,128.80,1223.0,0.15000,0.20450,0.282900,0.15200,0.2650,0.06387,NaN
76,8610629,B,13.530,10.94,87.91,559.2,0.12910,0.10470,0.068770,0.065560,...,12.49,91.36,605.5,0.14510,0.13790,0.085390,0.07407,0.2710,0.07191,NaN
77,8610637,M,18.050,16.15,120.20,1006.0,0.10650,0.21460,0.168400,0.108000,...,18.91,150.10,1610.0,0.14780,0.56340,0.378600,0.21020,0.3751,0.11080,NaN
78,8610862,M,20.180,23.97,143.70,1245.0,0.12860,0.34540,0.375400,0.160400,...,31.72,170.30,1623.0,0.16390,0.61640,0.768100,0.25080,0.5440,0.09964,NaN
79,8610908,B,12.860,18.00,83.19,506.3,0.09934,0.09546,0.038890,0.023150,...,24.82,91.88,622.1,0.12890,0.21410,0.173100,0.07926,0.2779,0.07918,NaN
80,861103,B,11.450,20.97,73.81,401.5,0.11020,0.09362,0.045910,0.022330,...,32.16,84.53,525.1,0.15570,0.16760,0.175500,0.06127,0.2762,0.08851,NaN
81,8611161,B,13.340,15.86,86.49,520.0,0.10780,0.15350,0.116900,0.069870,...,23.19,96.66,614.9,0.15360,0.47910,0.485800,0.17080,0.3527,0.10160,NaN
82,8611555,M,25.220,24.91,171.50,1878.0,0.10630,0.26650,0.333900,0.184500,...,33.62,211.70,2562.0,0.15730,0.60760,0.647600,0.28670,0.2355,0.10510,NaN
83,8611792,M,19.100,26.29,129.10,1132.0,0.12150,0.17910,0.193700,0.146900,...,32.72,141.30,1298.0,0.13920,0.28170,0.243200,0.18410,0.2311,0.09203,NaN
84,8612080,B,12.000,15.65,76.95,443.3,0.09723,0.07165,0.041510,0.018630,...,24.90,87.78,567.9,0.13770,0.20030,0.226700,0.07632,0.3379,0.07924,NaN
85,8612399,M,18.460,18.52,121.10,1075.0,0.09874,0.10530,0.133500,0.087950,...,27.68,152.20,1603.0,0.13980,0.20890,0.315700,0.16420,0.3695,0.08579,NaN
86,86135501,M,14.480,21.46,94.25,648.2,0.09444,0.09947,0.120400,0.049380,...,29.25,108.40,808.9,0.13060,0.19760,0.334900,0.12250,0.3020,0.06846,NaN
87,86135502,M,19.020,24.59,122.00,1076.0,0.09029,0.12060,0.146800,0.082710,...,30.41,152.90,1623.0,0.12490,0.32060,0.575500,0.19560,0.3956,0.09288,NaN
88,861597,B,12.360,21.80,79.78,466.1,0.08772,0.09445,0.060150,0.037450,...,30.50,91.46,574.7,0.13040,0.24630,0.243400,0.12050,0.2972,0.09261,NaN
89,861598,B,14.640,15.24,95.77,651.9,0.11320,0.13390,0.099660,0.070640,...,18.24,109.40,803.6,0.12770,0.30890,0.260400,0.13970,0.3151,0.08473,NaN
90,861648,B,14.620,24.02,94.57,662.7,0.08974,0.08606,0.031020,0.029570,...,29.11,102.90,803.7,0.11150,0.17660,0.091890,0.06946,0.2522,0.07246,NaN
91,861799,M,15.370,22.76,100.20,728.2,0.09200,0.10360,0.112200,0.074830,...,25.84,107.50,830.9,0.12570,0.19970,0.284600,0.14760,0.2556,0.06828,NaN
92,861853,B,13.270,14.76,84.74,551.7,0.07355,0.05055,0.032610,0.026480,...,22.35,104.50,830.6,0.10060,0.12380,0.135000,0.10010,0.2027,0.06206,NaN
93,862009,B,13.450,18.30,86.60,555.1,0.10220,0.08165,0.039740,0.027800,...,25.94,97.59,699.4,0.13390,0.17510,0.138100,0.07911,0.2678,0.06603,NaN
94,862028,M,15.060,19.83,100.30,705.6,0.10390,0.15530,0.170000,0.088150,...,24.23,123.50,1025.0,0.15510,0.42030,0.520300,0.21150,0.2834,0.08234,NaN
95,86208,M,20.260,23.03,132.40,1264.0,0.09078,0.13130,0.146500,0.086830,...,31.59,156.10,1750.0,0.11900,0.35390,0.409800,0.15730,0.3689,0.08368,NaN
96,86211,B,12.180,17.84,77.79,451.1,0.10450,0.07057,0.024900,0.029410,...,20.92,82.14,495.2,0.11400,0.09358,0.049800,0.05882,0.2227,0.07376,NaN
97,862261,B,9.787,19.94,62.11,294.5,0.10240,0.05301,0.006829,0.007937,...,26.29,68.81,366.1,0.13160,0.09473,0.020490,0.02381,0.1934,0.08988,NaN
98,862485,B,11.600,12.84,74.34,412.6,0.08983,0.07525,0.041960,0.033500,...,17.16,82.96,512.5,0.14310,0.18510,0.192200,0.08449,0.2772,0.08756,NaN
99,862548,M,14.420,19.77,94.48,642.5,0.09752,0.11410,0.093880,0.058390,...,30.86,109.50,826.4,0.14310,0.30260,0.319400,0.15650,0.2718,0.09353,NaN

In [37]:
df2.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
count,1.000000e+02,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
mean,1.547093e+07,14.707780,19.692200,96.471200,703.293000,0.102040,0.126576,0.114752,0.063801,0.193070,...,26.599900,116.610300,1008.860000,0.142288,0.330832,0.356674,0.145522,0.323583,0.092170,NaN
std,3.066549e+07,3.349245,3.759176,23.187471,320.152301,0.013151,0.061123,0.078862,0.038104,0.030822,...,5.701383,33.701712,546.008605,0.022940,0.204848,0.237003,0.068264,0.080613,0.023814,NaN
min,8.571500e+04,8.196000,10.380000,51.710000,201.900000,0.073550,0.037660,0.000692,0.004167,0.135000,...,12.490000,57.260000,242.200000,0.093870,0.046190,0.001845,0.011110,0.156500,0.055040,NaN
25%,8.542642e+05,12.457500,16.760000,82.270000,476.800000,0.093402,0.080118,0.041847,0.029170,0.172000,...,22.440000,91.435000,609.700000,0.127050,0.177125,0.172400,0.079223,0.271600,0.076135,NaN
50%,8.593735e+05,14.335000,20.190000,94.365000,643.650000,0.101150,0.118150,0.107150,0.065810,0.189550,...,27.260000,110.450000,830.750000,0.143100,0.279400,0.315600,0.156050,0.304600,0.087570,NaN
75%,8.610460e+06,17.155000,22.150000,114.400000,916.875000,0.110375,0.156800,0.166350,0.087590,0.208825,...,30.885000,140.250000,1323.750000,0.157600,0.424800,0.522075,0.190725,0.369350,0.103275,NaN
max,8.613550e+07,25.220000,27.540000,171.500000,1878.000000,0.142500,0.345400,0.375400,0.184500,0.304000,...,40.680000,211.700000,2615.000000,0.209800,1.058000,1.252000,0.286700,0.663800,0.207500,NaN